* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 10px;
}

:root {
    --primary-color: #1B7339;
    --secondary-color: #D80621;
    --light-green: #93e0b1;
    --white: #f1f1f1;
    --black: #010101;
    --gradient: linear-gradient(to right, #1B7339, #D80621);
    --gradienh: linear-gradient(50deg, #D80621, #1B7339);
    --lg-container: 90%;
    --md-container: 95%;
    --sm-container: 90%;
}

/* framework */
img {
    width: 100%;
    object-fit: cover;
}

a {
    color: var(--white);
}

.text-light>p {
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

.p {
    padding: 20px;
}

b {
    color: white;
}

.bg {
    background: #1B7339;
    padding: 2px 15px;
    color: var(--white);
}

.h2 {
    font-size: 3rem;
    color: var(--primary-color);
}

h3 {
    color: red;
    font-weight: 800;
}

.container {
    width: var(--lg-container);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('/img/img2.jpg'); */
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
}

hr {
    background: var(--primary-color);
    height: 4px;
    border-radius: 50px;
}

.font {
    font-size: 4rem;
}

.m-y {
    margin-bottom: 25px;
}

.m-r {
    margin-right: 30px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    background: var(--primary-color);
    padding: 15px 100px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: -3px 2px 4px var(--black);
    transition: .5s ease;
}

.btn:hover {
    opacity: .9;
    text-shadow: 0px 1px 2px #010101;
}

.o-list {
    padding: 10px 30px;
}

.o-list li {
    list-style-type: disc;
    background: #2ae92a78;
    padding: 4px;
    margin: 3px;
}

.text-light {
    color: #f1f1f1;
    text-align: center;
}

/* frame work end */

/* navbar  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
}

.logo {
    cursor: pointer;
    width: 150px;
    border-radius: 10px 0 10px;
    height: 66px;
}


.logo>span {
    color: var(--primary-color);
}

.hamburger {
    display: none;
}

/* navbar end */

/* header section */
.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

.mySlides {
    /* display: none; */
    width: 100%;
    padding: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from  {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* animation end */

header h1 {
    color: var(--primary-color);
    text-shadow: 2px 0px 0px var(--black);
}

h1 span {
    color: var(--secondary-color);
}

header p {
    font-size: 25px;
    color: var(--primary-color);
}

menu {
    display: flex;
}

menu li {
    margin-left: 30px;
}

menu li::after {
    content: '';
    display: block;
    background: #2ae92a;
    height: 3px;
    width: 0%;
    margin: auto;
    transition: .3s ease;
}

menu li:hover::after {
    width: 100%;
}

menu li a {
    font-size: 20px;
}

/* header section */
header {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* height: 80vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.col-6 {
    width: 50%;
    margin-bottom: 20px;
}

.col-4 {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.card {
    background: white;
    margin: 5px;
    border-radius: 5px;
}

.mcard {
    background: #c700003d;
    border-radius: 5px;
    padding: 15px;
}

.color {
    color: #ffd600;
}

.card:hover img {
    transform: scale(.9);
}

.img-details img {
    transition: .5s ease-in-out;
}

.details {
    padding: 10px;
    width: 100%;
}

.img-details {
    width: 100%;
}

/* features */
.f-card {
    background: var(--light-green);
    padding: 10px;
    border-radius: 10px;
}

/* mission */
.about {
    background: linear-gradient(116deg, #c7000085, #1B7339d9), url('/img/bg.jpg');
    background-position: center;
    color: var(--white);
}

.m-width {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

/* pricing */
.price {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pcard {
    position: relative;
    background: #4ead73d4;
    color: var(--black);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: .4s ease;
}

.pcard:hover {
    box-shadow: -2px 1px 3px #010101;
}

.tag {
    position: absolute;
    background-color: var(--primary-color);
    color: #f1f1f1;
    top: -20px;
    padding: 20px;
    border-radius: 25px 0 25px;
    transform: translate(50%);
    text-align: center;
}

.pcard:hover .tag {
    background: #1d6334;
}

.tag h3 {
    color: #ffd600;
}

.detail {
    margin: 50px 20px;
}

.pBtn {
    background: #ffd600;
    padding: 5px 30px;
    border-radius: 5px;
    color: var(--black);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

/* pricing */

/* footer */
footer .h2{
    color: var(--white);
}
footer a {
    color: var(--light-green);
}

footer .icon {
    color: #ffd600;
}

/* larger screen media query */
@media (min-width:1600px) {
    .font {
        font-size: 9rem;
    }

    .col-4 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    header {
        margin: 0;
    }

    .m-y {
        margin-bottom: 50px;
    }

    p {
        font-size: 30px;
    }

    .btn {
        padding: 30px 150px;
    }

    .bg {
        padding: 9px 60px;
    }

    h4 {
        font-size: 40px;
    }

    .details {
        padding: 15px;
    }
}

/* media query for tablet*/
@media (max-width:1040px) {
    .container {
        width: var(--md-container);
        height: 100%;
    }

    #message .row {
        display: flex;
        flex-direction: column-reverse;
    }

    header {
        margin: 0;
        height: 100%;
    }

    .font {
        font-size: 4rem;
    }

    .hamburger {
        display: block;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        z-index: 10;
    }

    menu.active {
        display: block;
    }

    menu {
        position: absolute;
        top: 70px;
        width: 200px;
        right: 40px;
        background: #000000ad;
        text-align: center;
        display: none;
        z-index: 3;
    }

    menu li {
        margin-bottom: 20px;
    }
    .flex{
        display: block;
    }

    .col-6 {
        width: 100%;
    }

    .col-4 {
        width: 48%;
        text-align: center;
    }

}

/* mobile devices */
@media (max-width:750px) {
    .font{
        font-size: 3.5rem;
    }
}
/* mobile devices */
@media (max-width:600px) {
    .logo {
        width: 100px;
    }

    .font {
        font-size: 2.5rem;
    }
    header p{
        font-size: 1rem;
    }

    .h2 {
        font-size: 1.8rem;
    }

    .col-4 {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn {
        padding: 10px 30px;
    }

    .grid-container {
        grid-template-columns: auto;
    }
}

/* smallest device */
@media (min-width:230px) and (max-width:318px) {
    .font {
        font-size: 25px;
    }

    menu {
        right: 19px;
    }
}

/*  topbtn*/
.topbtn {
    position: fixed;
    display: none;
    right: 20px;
    bottom: 9px;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}